/*==================================================================================================
Main window
==================================================================================================*/
Gui--Dialog--DlgPreferencesImp #sidebar {
  background-color: @{@Background.200};
}

/* QGroupBox --------------------------------------------------------------
https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qgroupbox
--------------------------------------------------------------------------- */
QGroupBox {
  background-color: transparent;
  border-radius: @GroupBoxBorderRadius;
  border-color: @GroupBoxBorderColor;
  border: 1px solid @GroupBoxBorderColor;
  border-width: @GroupBoxBorderThickness;
  padding: @GroupBoxPadding;
  margin-top: 9px;
  font-weight: @GroupBoxTitleFontWeight;
}

QGroupBox::title {
  top: -9px;
  padding: @{padding(@GroupBoxTitlePadding)};
  left: @{padding(@GroupBoxPadding).left - padding(@GroupBoxTitlePadding).left};
  color: @GroupBoxTitleTextColor;
  font-size: @GroupBoxTitleFontSize;
  font-weight: @GroupBoxTitleFontWeight;
  background-color: @GroupBoxBackground;
  border-radius: 4px;
}


/* QToolBar ---------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbar

--------------------------------------------------------------------------- */
QToolBar {
  background-color: @{@Background.100};
  border: none;
  outline: none;
}

QToolBar:horizontal {
  border-bottom: 1px solid @BaseBorderColor;
}

QToolBar:vertical {
  border-left: 1px solid @BaseBorderColor;
}

MRichTextEdit[floating="true"] {
  border: 1px solid @BaseBorderColor;
  border-radius: 2px;
  padding: 1px;
}

/* QToolButton ------------------------------------------------------------

https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbutton

--------------------------------------------------------------------------- */

QToolButton {
  font-size: @ButtonFontSize;
  font-weight: @ButtonFontWeight;
}

QToolButton[controlSize="small"] {
  font-size: @ButtonSmallFontSize;
  font-weight: @ButtonSmallFontWeight;
}

/* Gui::SplitButton --------------------------------------------------------- */

Gui--SplitButton QPushButton[splitRole="main"] {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

Gui--SplitButton QToolButton[splitRole="menu"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

Gui--SplitButton QToolButton::menu-indicator {
    image: none;
    border-image: none;
}

/*==================================================================================================
Tasks panel (custom FreeCAD class)
==================================================================================================*/
Gui--PropertyEditor--PropertyEditor {
  qproperty-groupTextColor: @BaseTextColor;
  qproperty-groupBackground: @{@Background.200}
}

Gui--TaskView--TaskPanel QSint--ActionPanel {
  background-color: transparent;
}

/* Action group */
QFrame[class="panel"] {}
QSint--ActionGroup {
/* if not reset, it might create problems with QPushButtons and other elements */
  border-radius: @FormControlBorderRadius;
}

/* Separator line */
QSint--ActionGroup QFrame[height="1"],
QSint--ActionGroup QFrame[height="1"],
QSint--ActionGroup QFrame[height="1"],
QSint--ActionGroup QFrame[width="1"],
QSint--ActionGroup QFrame[width="1"],
QSint--ActionGroup QFrame[width="1"] {
  border-color: @BaseBorderColor;
}

/* Panel header */
QSint--ActionGroup QFrame[class="header"] {
  border: 1px solid @BaseBorderColor;
  background-color: @ButtonBackground;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
QSint--ActionGroup QToolButton[class="header"] {
  text-align: left;
  font-weight: bold;
  border-style: none;
}

QSint--ActionGroup QFrame[class="content"] {
  background-color: @DialogBackground;/* Task Panel background color */

  border-bottom: 1px solid @BaseBorderColor;
  border-left: 1px solid @BaseBorderColor;
  border-right: 1px solid @BaseBorderColor;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

QScrollBar {
  background-color: @ScrollBarBackground;
}

QScrollBar:hover {
  background-color: @ScrollBarHoveredBackground;
}

QScrollBar::handle {
  background-color: @ScrollBarThumbBackground;
  margin: @ScrollBarThumbMargin;
  border-radius: @ScrollBarThumbBorderRadius;
}

QScrollBar::handle:hover {
  background-color: @ScrollBarThumbHoveredBackground;
}

QScrollBar::add-line, QScrollBar::sub-line {
  background-color: transparent;
  border: transparent;
}

QScrollBar::handle:horizontal {
  min-width: @ScrollBarThumbMinLength;
}

QScrollBar::handle:vertical {
  min-height: @ScrollBarThumbMinLength;
}

/*==================================================================================================
SKETCHER
==================================================================================================*/

Gui--StatefulLabel[state="empty"] {
  color: @SketcherEmptySketchColor
}

Gui--StatefulLabel[state="under_constrained"] {
  color: @SketcherUnderConstrainedColor;
}

Gui--StatefulLabel[state="conflicting_constraints"] {
  color: @SketcherConflictingConstraintsColor;
  font-weight: bold;
}

Gui--StatefulLabel[state="malformed_constraints"] {
  color: @SketcherMalformedConstraintsColor;
  font-weight: bold;
}

Gui--StatefulLabel[state="redundant_constraints"] {
  color: @SketcherRedundantConstraintsColor;
}

Gui--StatefulLabel[state="partially_redundant_constraints"] {
  color: @SketcherPartiallyRedundantConstraintsColor;
}

Gui--StatefulLabel[state="solver_failed"] {
  color: @SketcherSolverFailedColor;
  font-weight: bold;
}

Gui--StatefulLabel[state="fully_constrained"] {
  color: @SketcherFullyConstrainedColor;
  font-weight: bold;
}

/*==================================================================================================
Start page
==================================================================================================*/

QPushButton[objectName="buttonIFCPropertiesDelete"] {
  min-width: 100px;
}

QGroupBox[objectName="matOpsGrpBox"] QPushButton {
  min-width: 235px;
}

/* Below is a fix for indentation in properties*/

QTreeView#groupsTreeView {
  border: none;
}

/*==================================================================================================
Input validation
==================================================================================================*/
QLineEdit[validationState="error"],
QComboBox[validationState="error"] {
    border: 1px solid #d93025;
    border-image: none;
}

QLineEdit[validationState="error"]:focus,
QComboBox[validationState="error"]:focus {
    border: 1px solid #ff3b30;
    border-image: none;
}
